{% extends 'base.html'%}

{%block content%}
<main class="content">
    <div class="single">

        <section class="movie">
            {% if object.image.url != '' %}
            <img src="{{ object.image.url }}">
            {% endif %}
            <ul>
                <li class="row">
                    <div class='col-sm-3'>Name:</div>
                    <div class='col-sm-7'>{{ object.name }}</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Bith name:</div>
                    <div class='col-sm-8'>{{ object.birth_name }}</div>
                </li>
                <li class="row"> </li>
                <li class="row">
                    <div class='col-sm-4'>Born Date:</div>
                    <div class='col-sm-8'>{{ object.born_date }}</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Born place:</div>
                    <div class='col-sm-8'>{{ object.born_place }}</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Height:</div>
                    <div class='col-sm-8'>{{ object.height }} cm</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Bio:</div>
                    <div class='col-sm-8'>{{ object.bio }}</div>
                </li>

            </ul>
        </section>

        <section class="related">
            <h3>Related movies</h3>
            {% for movie in object_list %}
            <div class="relatemovie">
                <a href="{% url 'movie_detail' movie.id %}"><img src="{{ movie.image.url }}"></a>
                <a href="{% url 'movie_detail' movie.id %}"><span class="relatedname">{{ movie.title }}</span></a>
            </div>

            {% endfor %}
            <div class="relatemovie">
                <a href="#"><img src="images/2.jpg"></a>
                <a href="#"><span class="relatedname">John Wick</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/3.jpg"></a>
                <a href="#"><span class="relatedname">Spider Man Homecoming</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/4.jpg"></a>
                <a href="#"><span class="relatedname">Beauty and Beast</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/5.jpg"></a>
                <a href="#"><span class="relatedname">Pirates of the Caribbean: Dead Men Tell No Tales</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/6.jpg"></a>
                <a href="#"><span class="relatedname">Fifty Shades Darker</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/7.jpg"></a>
                <a href="#"><span class="relatedname">Transformers</span></a>
            </div>

        </section>

        <section class="comments">
            <h3>Comments</h3>
        </section>
    </div>
</main>

{%endblock%}