{% extends 'base.html'%}

{%block content%}
<main class="content">
    <div class="single">

        <section class="movie">
            {% if object.image.url != '' %}
            <img src="{{ object.image.url }}">
            {% endif %}
            <ul>
                <li class="row">
                    <div class='col-sm-3'>Name:</div>
                    <div class='col-sm-7'>{{ object.name }}</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Bith name:</div>
                    <div class='col-sm-8'>{{ object.birth_name }}</div>
                </li>
                <li class="row"> </li>
                <li class="row">
                    <div class='col-sm-4'>Born Date:</div>
                    <div class='col-sm-8'>{{ object.born_date }}</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Born place:</div>
                    <div class='col-sm-8'>{{ object.born_place }}</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Height:</div>
                    <div class='col-sm-8'>{{ object.height }} cm</div>
                </li>
                <li class="row">
                    <div class='col-sm-4'>Bio:</div>
                    <div class='col-sm-8'>{{ object.bio }}</div>
                </li>

            </ul>
        </section>

        <section class="related">
            <h3>Related movies</h3>
            {% for movie in related_movies %}
            <div class="relatemovie">
                <a href="{% url 'movie_detail' movie.slug %}"><img src="{{ movie.image.url }}"></a>
                <a href="{% url 'movie_detail' movie.slug%}"><span class="relatedname">{{ movie.title }}</span></a>
            </div>

            {% endfor %}


        </section>

        <section class="comments">
            <h3>Comments</h3>
        </section>
    </div>
</main>

{%endblock%}