{% extends 'base.html'%}

{%block content%}
<main class="content">
    <div class="single">

        <section class="trailer">
            <h3>Trailer</h3>
            <div class="trailer_frame">
                <iframe width="560" height="315" src="{{ movie.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

        <section class="movie">
            <img src="{{ movie.image.url }}">
            <ul>
                <li>{{ movie.title }}</li>
                <li>{{ movie.description }}</li>
                <li><a href="genre.html">{{ movie.category }}</a>, <a href="genre.html">Drama</a>, <a
                        href="genre.html">Romance</a>
                </li>

                <li>
                    {% for actor in movie.cast.all %}
                    <a href="#">{{ actor }}</a>
                    {% if not forloop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                </li>

                <li>{{ movie.views_count }} Views</li>
            </ul>
        </section>
        <section class="links">
            <h3>Links</h3>
            <ul class="dlinks">
                <li><a>Download</a></li>
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
            </ul>
            <ul class="wlinks">
                <li><a>Watch</a></li>
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
            </ul>
        </section>

        <section class="related">
            <h3>Related movies</h3>
            {% for movie in object_list %}
            <div class="relatemovie">
                <a href="{% url 'movie_detail' movie.id %}"><img src="{{ movie.image.url }}"></a>
                <a href="{% url 'movie_detail' movie.id %}"><span class="relatedname">{{ movie.title }}</span></a>
            </div>

            {% endfor %}
            <div class="relatemovie">
                <a href="#"><img src="images/2.jpg"></a>
                <a href="#"><span class="relatedname">John Wick</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/3.jpg"></a>
                <a href="#"><span class="relatedname">Spider Man Homecoming</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/4.jpg"></a>
                <a href="#"><span class="relatedname">Beauty and Beast</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/5.jpg"></a>
                <a href="#"><span class="relatedname">Pirates of the Caribbean: Dead Men Tell No Tales</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/6.jpg"></a>
                <a href="#"><span class="relatedname">Fifty Shades Darker</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="images/7.jpg"></a>
                <a href="#"><span class="relatedname">Transformers</span></a>
            </div>

        </section>

        <section class="comments">
            <h3>Comments</h3>
        </section>
    </div>
</main>

{%endblock%}