{% extends 'base.html'%}

{%block content%}
<main class="content">
    <div class="single">

        <section class="trailer">
            <h3>Trailer</h3>
            <div class="trailer_frame">
                <iframe width="560" height="315" src="{{ movie.trailer }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

        <section class="movie">
            <img src="{{ movie.image.url }}">
            <ul>
                <li>{{ movie.title }}</li>
                <li>{{ movie.release_date|date }}</li>
                <li>{{ movie.description }}</li>
                <li>
                    {% for category in movie.category.all %}
                    <a href="{% url 'movie_category' category.name %}">{{ category }}</a>
                    {% if not forloop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                </li>

                <li>
                    {% for actor in movie.cast.all %}
                    <a href="{% url 'actor_detail' actor.slug %}">{{ actor }}</a>
                    {% if not forloop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                </li>


                <li>{{ movie.views_count }} Views</li>
            </ul>
        </section>

        <section class="related">
            <h3>Related movies</h3>
            {% for movie in object_list %}
            <div class="relatemovie">
                <a href="{% url 'movie_detail' movie.id %}"><img src="{{ movie.image.url }}"></a>
                <a href="{% url 'movie_detail' movie.id %}"><span class="relatedname">{{ movie.title }}</span></a>
            </div>

            {% endfor %}

            {% for movie in related_movies %}
            <div class="relatemovie">
                <a href="{% url 'movie_detail' movie.slug %}"><img src="{{ movie.image.url }}"></a>
                <a href="#"><span class="relatedname">{{ movie.title }}</span></a>
            </div>
            {% endfor %}

        </section>

        <section class="comments">
            <h3>Comments</h3>
        </section>
    </div>
</main>

{%endblock%}