<!-- {% load static %} -->
<!-- {% load movie_tags %} -->

<div class="homeslider">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for slide in slides %}
            <div class="swiper-slide">
                <img src="{{ slide.banner.url }}">
                <div class="caption">
                    <div class="captioninside">
                        <h3>{{ slide }}</h3>
                        <p>{{ slide.movie.description|truncatechars:250 }}</p>
                        <a href="{% url 'movie_detail' slide.movie.slug %}" class="playbutton">Show</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>